@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cera";
  src: url("../fonts/Cera.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Cera";
  font-size: 12px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 640px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
}
